*.pyc
__pycache__
*.egg-info
py
build
dist
eggs
parts
develop-eggs
bin
downloads
.installed.cfg
*.spec
.idea
target
*.so
*.sublime-workspace
rtmidi.html
src/midi
src/sounds
src/sprites
src/mingus
src/pyfluidsynth3
.mr.developer.cfg
expt_*.py
*.swp
.#*
.dir-locals.el
eggs-backup/
private/
src/builder_stats.html
src/synth.py
src/tone_poem.profile
test_basic.py
tone_poem.profile
pygame_test.py
.python-version
builder_stats.html
*.profile
